*.epub
*.mobi
*.pdf
*.avi
*.mp4
./4_Math/465-ML/pythonvideotutorialsnumpyandpandas/pandas-mp4-files/pandas_video1.mp4
./4_Math/465-ML/pythonvideotutorialsnumpyandpandas/numpy-mp4-files/google_colab.mp4
./4_Math/465-ML/DeepLearningQuickReference_Code/chapter_9/data/bitcoin.csv
./10_CySec/1030-Malware/malwareanalyst_dvd/8/7/8-7.mov
./10_CySec/1010-CySecSummary/Sec+/10.Certificates and trust.mp4
./.git/objects/cb/ed0db2db5c5fed001232446419be0dea62fb19
./6_Net/602-Networks/Packet Tracer/PacketTracer-7.3.0-win64-setup.exe
./15_Mgmt/1510-Mgmt/visualcollaboration_apowerfultoolkitforimprovingmeetingsprojectsan.pdf
./11_Peripherals/1148-3DPrinter/3DPrintingFiles/VIDEOs/Removal off Build Plate.mp4
./11_Peripherals/1148-3DPrinter/3DPrintingFiles/VIDEOs/Removing Strings and Cleaning-Spherion.mp4
./11_Peripherals/1148-3DPrinter/3DPrintingFiles/VIDEOs/Real Time Printing - Shell.mp4
./11_Peripherals/1148-3DPrinter/3DPrintingFiles/3D Models/Shell.stl
./11_Peripherals/1148-3DPrinter/3DPrintingFiles/CH13/3D Models/Shell.stl
./11_Peripherals/1155-GPS/Learn QGIS - Fourth Edition_Code/Chapter2/RBG_LandsatARD.zip
./2_Prog/295-GameDev/gametestingthirdedition/FIFA Video - IrishPasteAVI.avi
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-02-17-1STqje9nBfQ.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-04-09-79cO02oIM6g.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-03-31-QNce8cVeoeA.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-02-26-xN-W4LndKBI.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-04-14-G58q_y0vRpo.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-02-19-989RHzBQaq0.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-02-10-LeyyKntpwTY.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-03-10-j5Y08ztNfz0.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-01-27-0iSHVyIlnH0.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-04-30-hfo1sgWzpJY.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-04-23--TvGZVGAFEY.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-03-19-WLpvUGjvmXc.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-03-03-kaZ4HVzHajE.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-04-21-4nYIWjsHz7o.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-04-07-FgSiQeeKlUI.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-01-29-vNhxtDZ5-C4.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-02-24-a_0X_o6UTrA.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-05-05-cz10XFbQSRI.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-01-20-dY48_UZhvhw.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-03-17-JRzELkPFbRY.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-03-12-NSKvCVFmk2E.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-02-03-LoEgnb3Ht6I.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-02-05-oFE3tp5esLw.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-02-12-sa-SmSx-q_Q.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-05-07-vwNtTHED6s8.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-04-28--VLloOYiv2g.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-01-22-FGvKL2cmZEo.mp4
./4_Math/465-ML/pythonvideotutorialsnumpyandpandas/pandas-mp4-files/pandas_video1.mp4
./4_Math/465-ML/pythonvideotutorialsnumpyandpandas/numpy-mp4-files/google_colab.mp4
./4_Math/465-ML/DeepLearningQuickReference_Code/chapter_9/data/bitcoin.csv
./10_CySec/1030-Malware/malwareanalyst_dvd/8/7/8-7.mov
./10_CySec/1010-CySecSummary/Sec+/10.Certificates and trust.mp4
./.git/objects/cb/ed0db2db5c5fed001232446419be0dea62fb19
./6_Net/602-Networks/Packet Tracer/PacketTracer-7.3.0-win64-setup.exe
./15_Mgmt/1510-Mgmt/visualcollaboration_apowerfultoolkitforimprovingmeetingsprojectsan.pdf
./11_Peripherals/1148-3DPrinter/3DPrintingFiles/VIDEOs/Removal off Build Plate.mp4
./11_Peripherals/1148-3DPrinter/3DPrintingFiles/VIDEOs/Removing Strings and Cleaning-Spherion.mp4
./11_Peripherals/1148-3DPrinter/3DPrintingFiles/VIDEOs/Real Time Printing - Shell.mp4
./11_Peripherals/1148-3DPrinter/3DPrintingFiles/3D Models/Shell.stl
./11_Peripherals/1148-3DPrinter/3DPrintingFiles/CH13/3D Models/Shell.stl
./11_Peripherals/1155-GPS/Learn QGIS - Fourth Edition_Code/Chapter2/RBG_LandsatARD.zip
./2_Prog/295-GameDev/gametestingthirdedition/FIFA Video - IrishPasteAVI.avi
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-02-17-1STqje9nBfQ.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-04-09-79cO02oIM6g.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-03-31-QNce8cVeoeA.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-02-26-xN-W4LndKBI.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-04-14-G58q_y0vRpo.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-02-19-989RHzBQaq0.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-02-10-LeyyKntpwTY.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-03-10-j5Y08ztNfz0.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-01-27-0iSHVyIlnH0.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-04-30-hfo1sgWzpJY.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-04-23--TvGZVGAFEY.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-03-19-WLpvUGjvmXc.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-03-03-kaZ4HVzHajE.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-04-21-4nYIWjsHz7o.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-04-07-FgSiQeeKlUI.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-01-29-vNhxtDZ5-C4.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-02-24-a_0X_o6UTrA.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-05-05-cz10XFbQSRI.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-01-20-dY48_UZhvhw.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-03-17-JRzELkPFbRY.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-03-12-NSKvCVFmk2E.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-02-03-LoEgnb3Ht6I.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-02-05-oFE3tp5esLw.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-02-12-sa-SmSx-q_Q.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-05-07-vwNtTHED6s8.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-04-28--VLloOYiv2g.mp4
./7_DB/720-Database/TEACHYOURSELFCS1 UCBerkeley_Course_Computer_Science_186 Joe Hellerstein Spring 2015/Computer Science 186 - 2015-01-22-FGvKL2cmZEo.mp4
