*.epub
*.mobi
*.pdf
*.avi
*.mp4
*.csv
*.mov
*.exe
*.stl
*.tif
*.3mf
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter1/D3Anim
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter1/LifeCycle
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter1/SimpleAnimation
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter1/SimpleCSS3Animation
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter1/SVGCharts
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter1/SVGEllipse
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter1/SVGFollowMe
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter1/SVGMouseMove
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter2/AddListButton
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter2/ButtonClick
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter2/ChildComponent
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter2/ClickItems
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter2/DelListButton
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter2/IfLogic
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter2/ParentChildEmitters
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter2/RadioButtons
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter2/ReadJSONFile
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter2/ReadMultipleJSONFiles
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter2/ReadWineCSV
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter2/SimpleList
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter2/SimplePipe
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter2/StateComponent
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter2/TodoInput
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter3/FormBuilder
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter3/JSONServerGET
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter3/JSONServerPOST
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter3/NGForm
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter3/ReactiveForm
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter3/ReadDataCSVLRPlot
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter3/SearchFlickr
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter3/SearchGithubUsers
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter3/ServiceExample
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter3/UserServiceEmitter
4_Math/465-MachineLearning/angularandmachinelearningpocketprimer/code/chapter6/NGTFJSLinReg
